* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: DarkGoldenRod;
}

.flex-container {
    margin: auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    background-color: white;
}

.flex-item {
    margin: 0 auto;
    background-color: white;
    flex:auto;
    justify-content: space-around;
}


header {
    margin: auto;
    background-color: #dfecf1;
    justify-content: center;
}

footer.flex-item {
    padding: 5px 50px 5px 50px;
}

.footer-item {
    flex-direction:column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    background-color: white;
}

.navbar {
    justify-content: space-around;
}

.nav-item {
    list-style: none;
    display: inline;
}

nav {
	width: 100%;
	background-color: #555;
	overflow: auto;
}
  
nav ul {
    padding: 0px 50px;
	display:flex;
	flex-wrap: wrap;
	flex-direction:row;
	align-items:center;
	justify-content: space-around;
}

nav > ul > li {
    margin: 5px;
    list-style-type: none;
    padding: 5px;
	flex:auto;
	justify-content: space-around;
}


.nav ul li a {
  display: block;
  float: none;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}


.w3-image {
    width: 30%;
}

section#principal {
    display:flex;
    flex-direction:column;
    align-items:stretch;
    justify-content: center;
    padding: 10px 5px;
    background-color: white;
    padding: 10px 50px 10px 50px;
}

section > h1 {
    text-align:center;
    padding: 10px 25px;		
}

p {
    text-align: justify;
    padding: 5px;
    flex:auto;
    justify-content: space-around;
}

div h2 {
    padding: 10px 25px;	
    text-align: center;
}

form > fieldset > div {

    margin-bottom: 1em;
    font-family: 'Dancing Script', cursive;
    font-size: 1em;
    text-align: center;
}

form > fieldset > div.row {
    margin: .1em;
}

form > fieldset > div.row > label {
    font-family: 'Dancing Script';
    width: 25%;
    float: left;
    text-align: left;
}

form > fieldset > div.row >input[type="text"] {
    text-align: left;
    width: 15em;
    height: 1em;
    padding: 5px;
    border-bottom: 1px solid DarkGoldenRod;
}


div.row select {
    text-align: left;
    font-family: 'Dancing Script', cursive;
    background: GoldenRod;
    opacity: 0.5;
}

div input[type="submit"] {
    width: 6em;
    height: 1.5em;
    padding: .2em;
    font-family: 'Dancing Script', cursive;
    font-size: 1em;
    text-transform: uppercase;
    background: GoldenRod;  
}

.col {
    display: flex;
    align-items: center;
}

.card {
    align-content: center;
}
